In [17]:
import pandas as pd
import utils as utl
import math
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error
import numpy as np

In [2]:
df = pd.read_csv('data/data.csv')

In [3]:
df["date"] = df.date.apply(pd.to_datetime)

In [4]:
df = df.set_index('date')
df = df.sort_index()

In [5]:
df = df.dropna()

In [6]:
df_area1 = df[df.variable=="area_1"].drop(columns="variable")
df_area2 = df[df.variable=="area_2"].drop(columns="variable")
df_area3 = df[df.variable=="area_3"].drop(columns="variable")

In [7]:
df_area1 = df_area1.resample("h").mean()
df_area2 = df_area2.resample("h").mean()
df_area3 = df_area3.resample("h").mean()

In [8]:
df_area1 = (df_area1.ffill()+ df_area1.bfill())/2
df_area2 = (df_area2.ffill()+ df_area2.bfill())/2
df_area3 = (df_area3.ffill()+ df_area3.bfill())/2

In [9]:
area_1 = df_area1.sort_index()
area_2 = df_area2.sort_index()
area_3 = df_area3.sort_index()

In [18]:
area_1['day_of_week'] = area_1.index.weekday
area_1['month'] = area_1.index.month
area_1['hour'] = area_1.index.hour

area_1['sin_weekday'] = np.sin(2*np.pi*area_1.index.weekday/7)
area_1['cos_weekday'] = np.sin(2*np.pi*area_1.index.weekday/7)
        
area_1['sin_month'] = np.sin(2*np.pi*area_1.index.month/12)
area_1['cos_month'] = np.sin(2*np.pi*area_1.index.month/12)
area_1['sin_hour'] = np.sin(2*np.pi*area_1.index.hour/24)
area_1['cos_hour'] = np.sin(2*np.pi*area_1.index.hour/24)

area_1.head()

,value,day_of_week,month,hour,sin_weekday,cos_weekday,sin_month,cos_month,sin_hour,cos_hour
date,,,,,,,,,,
2004-01-01 00:00:00,16.853,3,1,0,0.433884,0.433884,0.5,0.5,0.000000,0.000000
2004-01-01 01:00:00,16.450,3,1,1,0.433884,0.433884,0.5,0.5,0.258819,0.258819
2004-01-01 02:00:00,16.517,3,1,2,0.433884,0.433884,0.5,0.5,0.500000,0.500000
2004-01-01 03:00:00,16.873,3,1,3,0.433884,0.433884,0.5,0.5,0.707107,0.707107
2004-01-01 04:00:00,17.064,3,1,4,0.433884,0.433884,0.5,0.5,0.866025,0.866025

In [ ]:
train_1 = area_1[:-168]
train_2 = area_2[:-168]
train_3 = area_3[:-168]

test_1 = area_1[-168:]
test_2 = area_2[-168:]
test_3 = area_3[-168:]

In [14]:
predictions = utl.predict_n_periods(series_=train_1, 
                                    n_periods=168, 
                      model=GradientBoostingRegressor(random_state=1), 
                      num_periods_lagged=6,
                      num_periods_diffed=3, #1
                      weekday=True,
                      month=True,
                      rolling=[],
                      monthday=False
                      )

In [15]:
mean_absolute_error(predictions, test_1) #1.49831455990887

1.6061737685276851

In [13]:
train_1 = area_1[:-168]
train_2 = area_2[:-168]
train_3 = area_3[:-168]

test_1 = area_1[-168:]
test_2 = area_2[-168:]
test_3 = area_3[-168:]