In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/data.csv")

In [3]:
df.head()

                  date variable   value
0  2004-01-01 00:00:00   area_1  16.853
1  2004-01-01 01:00:00   area_1  16.450
2  2004-01-01 02:00:00   area_1  16.517
3  2004-01-01 03:00:00   area_1  16.873
4  2004-01-01 04:00:00   area_1  17.064

In [4]:
df["date"] = df.date.apply(pd.to_datetime)

In [ ]:
df.set_index(date)